
.card-list{
	margin: 0;
	padding: 0;	
}
.card-list .card-holder {
	margin-bottom: 10px;
	list-style: none;
	padding: 0;
}
.card-list .card-pull{
	color: white;
	font-size: 12px;
	float: right;
	margin-right: 10px;
}
.card-list .card-sub{
	color: white;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 15px;
}
.card-list .card{
	height: auto;
	-webkit-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.75);
	background-color: #f5f5f5;
	border-radius: 4px;

}
.card .card-header{
	padding: 15px 15px 20px 20px;
	
}
.card .header-warning {
	background-color: #F44336;
}
.card .header-primary {
	background-color: #2196F3;
}

.card .header-default{
	background-color: #212121;
}
.card .header-info{
 	background-color: #009688;
}

.card .card-header > p > a:hover{
	cursor: hand;
}
.card .card-header >p {
	font-family: "Open sans", Helvetica, sans-serif;
	text-style: bold;
	font-size: 18px;
	line-height: 20px;
	margin-left:0;
}
.card .card-header > p > a{
	text-decoration: none;
	color: white;
	
}

.card .card-content{
	padding: 15px 15px;
}

.card .card-content p{
	font-family: "Open sans", Helvetica, sans-serif;
}

.card .card-content span{
	margin : 0;
}

