.jtoast {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 15px;
	position: fixed;
	z-index: 1000000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	display: none;
}

.jtoast > div {
	position: relative;
	margin: 5% auto;
	padding: 10px;
	background: #009688;
	color: #fff;
}

.jtoast > .default {
	background: #009688;
}
.jtoast > .warning {
	background: #C62828;
}
.jtoast > .primary {
	background: #2196F3;
}