.modal-content {
  width: 800px !important;
  margin-left: -100px;
}
.bg-image{
	position: absolute;
	z-index: -3;
	width: 100%;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);

}
