.picture-col{
  padding-right: 10px !important;
  border-bottom: 1px solid #111;
}

.attachments-list {
    width: 75%;
    
}
.attachment {
    text-decoration:  none;
    height: 60px;
    list-style: none;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 5px;
}

.attachment-active{
    border: 2px solid green;
}
.attachment-label {
    margin-right: 5px
}
.attachment-id {
    margin-bottom: 10px;
    display: none;   
}
.attachment a{
    cursor: hand;
}
.attachment span {
    float: right;
    margin-right: 5px;
}

.doc-pic {

    width: 100px;
    height: 100px;
    margin: 10px;
}

/*

    EXISTING VIOLATOR

*/
.selected-existing {
    color: forestgreen !important;
    font-weight: bold;
}


/*  
    VIEW CASE REPORT BY MARK
*/
#photosCarousel {
    height: 400px;
    padding: 0px;
}
#photosCarousel img {
    width: 100%;
    height: 100%;
}

#violatorsList, .chargesList, .itemsList{
    list-style-type: none;
}

.info-header {
    font-size: 17px;
    font-family: 'Arial';
    font-style: bold;  

}
.item {
    margin-top : 20px;

}
.chargesList li {
    display: inline;
    margin-right: 10px;
}

.violator {
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid grey;
    
}

 .violator-image {
    margin-right: 15px;
    margin: 5px;
    width: 100px;
    height: 100px;
    float: left;
}
.item-image{
    width: 75px;
    height: 75px;
     margin: 5px;
    float : left;
}

.violator-details {
    font-size: 14px;
}
.violator-details p {
    padding-top: 10px;
}
.violator-details span{
    font-family: 'Arial';
    font-style: bold;  
}
.violator-details > p > div{
    margin: 100px;
}

.row-indent {
    margin-left: 15px;
}


/*  
   JC
*/

#search-area {
    background: #E0E0E0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px !important;
    height: 200px;
    padding: 40px;
}

.btn {

  transition: all 0.5s ease 0s;

}


form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px !important; 
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .30s, box-shadow ease-in-out .30s;
		  
}
.form-control:hover{
	border-color: #d91e18;
	 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217, 30, 24, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217, 30, 24, .6);

}
.form-control:focus{
	border-color: #d91e18;
	 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217, 30, 24, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217, 30, 24, .6);

}
.req-ast {
    
    font-style: bold;
    font-size: 15px;
    color: red;

}
.dist {
    cursor: hand;
    margin-right: 5px;
}

.dist:hover {
    opacity: 0.7;
}