table {
    border-collapse: separate;
    border-spacing: 0;
    color: #4a4a4d;
    width: 100%;
   
}

th, #evidences{
    padding: 10px 15px !important;
    vertical-align: middle !important;
    font-size: 10px !important;
}
td {
    padding: 10px 15px;
    border-bottom: 1px solid black;
     
}


.acc-table thead {
  background: #395870 !important;
  color: #fff !important;
}

.acc-table ul {
    margin: 0;
    padding: 7px;
}