html {
	width: 100%;
    height:100%;
}

body { position:absolute; top:0; bottom:0; right:0; left:0; }
.bg-image{
	position: absolute;
	z-index: -3;
	width: 100%;
     height:100%;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

.form_signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form_signin.form_signin-heading, .form_signin.checkbox
{
    margin-bottom: 10px;
}
.form_signin.checkbox
{
    font-weight: normal;
}

#submitButton{
    transition: all 0.5s ease 0s;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
	background-color: rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	
}
.login-title
{
	font-family: "Play", "Tahoma";
    color: white;
	margin-top: 100px;
    font-size: 24px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
	color: #2C3E50;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.links ul { 
    color: #fff;
    list-style: none;
    margin-top: 50px;
}

.links li { 
    display: inline;
    padding-right: 20px;
}

.links li a { 
    font-family: "Play", "Tahoma";
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
    
}

.links li a:hover { 
    color: red;
    border-bottom: 1px solid red;
}

.links h5 { 
    margin-top: 5px;
    color: #fff;
}


