

/* PROFILE */

#profile-pic {
    width: 250px;
    height: 200px;
   
}

.side-info {
    margin-left: 10px;
}
a{
    cursor: hand;
}
p{
    font-family: "Raleway", "Helvetica" sans-serif;
}
.p-highlight {
   
    font-weight: bold;
    font-size: 17px;
}

.p-normal {
    font-size: 15px;
}

.view{
    padding: 5px;
    margin-left: 25px;
    cursor: hand;
}
.view:hover{
    border: 1px solid black;
}
.info-header{
    font-weight: bold;
}
.info {
    margin-left: 25px;
}

.header{
    font-size: 25px;
    font-weight: bold;
}


