.thumbnail {
    position:relative;
    overflow:hidden;
}
.caption {
    position:absolute;
    top:0;
    right:0;
	bottom:0;
	background: rgba(50, 100, 100, 0.50);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
#viewProfile, #updateProfile{
	margin-top: 45%;
}

#profilePicture{
	height: 220px;
	width: 230px;
	
}
#viewContent{
	margin-left: -15px;
	border-left:inset;
	
}

#updateModal .modal-content button{
	height: 50px;
	width: 100%;
}

#imageProfile{
	height: 500px;
	width: 530px;
}
.contentRow{
	padding-left: 10px;
}

.titleActive{
	color: #000 !important;
	font-style: italic;
}
.close{
	margin-top: 10px !important;
	color: #000 !important;
	opacity: 1 !important;
	
}


.subjectHeader{
	background: #67C2EF;
	color: #fff;
	text-shadow: 0px -1px 0px rgba(0,0,0,.15);
	margin: -26px -35px 10px -19px;
	padding: 10px;
}
.content {
	background: #ffffff;
	filter: none;
	min-height: 100%;
	padding: 0 20px;
	position: relative;
	
}
.colBorder{
	border-bottom: inset;
}
ul.messagesList {
	list-style: none;
	margin-top: -19px;
	font-size: 12px;
	padding-left: 10px;
	
}

ul.messagesList li {
	padding: 5px 10px;
	cursor: pointer;
	border-bottom: groove;
}

ul.messagesList li:hover{
	background: #BDBDBD;
}
ul.messagesList li span.from {
	display: inline-block;
	width: 20%;
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;	
}
ul.messagesList li span.subject {
	display: inline-block;
	width: 20%;
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;	
}

.smallTitle{
	display: inline-block;
	width: 20%;
	font-weight: 300;
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;
}
ul.messagesList li span.title {
	display: inline-block;
	width: 40%;
	font-weight: 300;
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;	
}

ul.messagesList li span.date {
	display: inline-block;
	width: 20%;
	white-space: nowrap;
	overflow:hidden !important;
}

.controls-row [class*="span"],
.row-fluid .controls-row [class*="span"] {
  float: left;
}

.controls-row .checkbox[class*="span"],
.controls-row .radio[class*="span"] {
  padding-top: 5px;
}
ul.messages li .avatar img {
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

ul.messages li .header {
	display: relative;
	
}

ul.messages li .header .from {
	font-size: 12px;
	font-weight: bold;
}
ul.messages li .header .time {
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
	position: absolute;
	right: 5px;
}


.message .header i {
	margin-top: 1px;
}

.message .header .from {
	display: inline-block;
	width: 70%;
	font-size: 12px;
	text-align: left;
	float: left;
}


.message .header .date {
	display: inline-block;
	width: 29%;
	text-align: right;
	float: right;
	font-size: 12px;
}

.message .attachments {
	border-top: 3px solid #f9f9f9;
	border-bottom: 3px solid #f9f9f9;
	padding: 10px 0px;
	margin-bottom: 20px;
	font-size: 12px;
}

.message .attachments ul {
	list-style: none;
	margin: 0;
}

.message .attachments ul li {
	margin: 10px 0;
}

.message .attachments ul li span.label {
	font-size: 12px !important;
}

.message .attachments ul li span.quickMenu {
	float: right;
	text-align: right;
}

.message .attachments ul li span.quickMenu .glyphicons {
	padding: 5px 0 5px 25px;
}

.message .attachments ul li span.quickMenu .glyphicons i:before{
	font-size: 14px;
	margin: -2px 0px 0px 5px;
	color: #3b3b41;
}

.msgActive {
	background: #E0E0E0 !important;
	font-weight: 700 !important;
}
blockquote {
	background: url(../resources/design_photos/quote.png) no-repeat 0px 10px;
	font-style: italic;
	border-left: none;

}
#message-content{
	padding-left: 30px;
}
