#search-area {
    background: #E0E0E0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px !important;
    height: 200px;
    padding: 40px;
}

.btn {

  transition: all 0.5s ease 0s;

}

form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px !important; 
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .30s, box-shadow ease-in-out .30s;
		  
}
.form-control:hover{
	border-color: #d91e18;
	 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217, 30, 24, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217, 30, 24, .6);

}
.form-control:focus{
	border-color: #d91e18;
	 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217, 30, 24, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217, 30, 24, .6);

}

#searchContent {

    margin: 10px !important;

}

#myTable li a {
     padding: 20px;
}
#myTab li.active a{
    
}
#myTab li {
    transition: border-color ease-in-out .30s, box-shadow ease-in-out .30s;
    font-weight: bold !important;
   
}

#myTab li:hover {
   
}

