/* Toggle Styles */
/* This sidebar modified by seegatesite.com */
.top-nav{
	padding: 0 15px;
	background-color: #2C3E50;
}

#top-nav-title{
	color: white;
	font-family: "Play", "Tahoma";
}

.navbar-toggle{
	background-color: #0993c7s;
}
.nav .navbar-toggle:hover {
    background-color: #82b919;
    color: #336E7B;
}



#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
	margin-top: 60px;
	padding-top: 10px;
	z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	background: #000;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
}


.page-content{
	padding-top: 80px;
	padding-right: 10px;
	padding-left: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
#wrapper.toggled #breadcrumb-containe {
    position: absolute;
    margin-right: -250px;
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
	float: top;
	height: 100%;
	top: 50px;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style-type: none;

}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
	font-family: "Raleway", "Play", "Tahoma";
	text-decoration: bold;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #82b919;
    background: rgba(255,255,255,0.2);
    border-left: #82b919 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
	color: #82b919;
	border-left: #82b919 2px solid;
}

.prev_selected, .prev_selected span, .prev_selected font{
	text-decoration: none;
	color: #82b919;
	border-left: #82b919 2px solid;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 260px;
		padding-right: 20px;
    }
	.fixed-brand{
		width: 250px;
	}
    #wrapper.toggled {
        padding-left: 15px;
		padding-right: 15px;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 0px;
        position: relative;
         -webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	
    }
	
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }

    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
         -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;		
		width: 120%;
    }

}
