.header{
	font-size: 20px;
	font-style: bold;
	font-family: "Open sans", Helvetica, Arial, sans-serif;
	margin-left: 20px
}
a:hover {
	cursor: hand;
}
li {
	list-style: none;
}
label {
	font-size: 12px;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.mugshot-label {
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	margin: 0;
}

p {
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	margin-left: 20px;
	font-size: 15px;
}

.p-label{
	font-family: "Open sans", Helvetica, Arial, sans-serif;
	font-style: bold;
}

.p-extras{
	font-size: 12px;
	font-color: #E0E0E0;
}

/** SEARCH RESULTS BY DATE **/
.result-header {
	font-size: 20px;
}

.case-date {
	float: right;
	font-size: 15px;
	margin-right: 150px;
}

.search-results li.result {	
	margin-top: 20px;
}

.violator-img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}


